---
import { Image, getImage } from 'astro:assets';
import Base from '../../layouts/Base.astro';
import { images } from '../../lib/gallery';

// Resolve full-size URLs for lightbox links
const resolved = await Promise.all(
  images.map(async (img) => ({
    ...img,
    fullSrc: (await getImage({ src: img.src })).src,
  }))
);
---

<Base title="Gallery" lightbox={true}>
  <div class="gallery-page">
  <h1 data-pagefind-body>Gallery</h1>

  <div class="gallery gallery-img">
    {resolved.map((img) => (
      <figure>
        <a href={img.fullSrc} data-lightbox>
          <Image src={img.src} alt={img.alt} width={480} loading="lazy" />
        </a>
        <figcaption>
          {img.caption}
          {img.storyLink && img.storyTitle && (
            <a class="gallery-link" href={img.storyLink}>
              Found in: {img.storyTitle}
            </a>
          )}
        </figcaption>
      </figure>
    ))}
  </div>
  </div>
</Base>
